{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n allauth account %}

{% block head_title %}
    <h2>Password Reset</h2>
{% endblock head_title %}
{% block content %}
    <h2 style="text-align: left;">
        {% trans "Password Reset" %}
    </h2>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p class="lead" style="font-weight: 400">
        Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.
    </p>
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {{ form|crispy }}
        {% endslot %}
        {% slot actions %}
            <button class="btn btn-primary" type="submit">{% trans 'Reset' %}</button>
        {% endslot %}
    {% endelement %}
    <p class="lead" style="font-weight: 400">
        Please contact us if you have any trouble resetting your password.
    </p>
{% endblock content %}