{% extends "base.html" %}

{% block content %}
<h2>About the App</h2>
<p class="lead" style="font-weight: 500">
    MyReadingList is a simple Django app designed to help users track the books they've read. I built it primarily to experiment with modern server-side JavaScript technologies like HTMX and Alpine.js. The goal was to create a user experience similar to a single-page application, but with less complexity than a full-fledged JavaScript framework like React or Vue.js.
</p>

<hr>

<h2>About Me</h2>
<p class="lead" style="font-weight: 500">
    My name is Nicolás, and I'm a Python programmer from Chile. Unsatisfied with the limitations of spreadsheet software, 
    I created Betview to offer a streamlined and user-friendly alternative.
<p class="lead" style="font-weight: 500">I’m skilled in:</p>
<ul>
    <li style="font-weight: 500; font-size: 20px;">Python</li>
    <li style="font-weight: 500; font-size: 20px;">Django/Django REST Framework</li>
    <li style="font-weight: 500; font-size: 20px;">HTMX, Alpine.js</li>
    <li style="font-weight: 500; font-size: 20px;">SQL/PostgreSQL</li>
    <li style="font-weight: 500; font-size: 20px;">Docker</li>
    <li style="font-weight: 500; font-size: 20px;">Pandas, Matplotlib, Seaborn (data analysis and visualization)</li>
</ul>
<p class="lead" style="font-weight: 500">For business inquiries, bug reports, or suggestions, feel free to reach out via email at: <a href="mailto:nicolasalfonsoferreira@gmail.com">nicolasalfonsoferreira@gmail.com</a> . I'm always open to collaborating on new projects.</p>

<hr>

{% endblock content %}