{% extends "reading/base.html" %}

{% block content %}
    <h1 class="m-4">My Reading List</h1>

    <div>
        {% include "reading/search.html" %}
    </div>

    <div id="book_list">
        {% include "reading/book_list.html" %}
    </div>

    <h2 class="m-4 text-center">What do you want to read?</h2>

    <div class="d-flex justify-content-center align-items-center">
        <form action="{% url 'reading_page' %}" method="post" class="d-flex align-items-center">
            {% csrf_token %}
            <input type="text" id="book-title" name="book-title" placeholder="title" class="form-control mr-2" required style="max-width: 250px; margin: 2px">
            <input type="text" id="book-author" name="book-author" placeholder="author" class="form-control mr-2" required style="max-width: 250px; margin: 2px">
            <button hx-post="{% url 'add_book' %}" hx-target="#book_list" type="submit" class="btn btn-primary" style="background-color: rgb(51, 102, 0); border-color: rgb(51, 102, 0); margin: 2px">
                Add
            </button>
        </form>
    </div>
{% endblock content %}

