{% extends "base.html" %}

{% block content %}

<div class="p-2" style="width: 95%; margin: auto;">
    
    <h1 class="my-4 text-start">My Completed Books</h1>

    <p class="lead">Here you can find a list of all the books you have completed. 
        You can review the details of each book, including the title, author, rating, and the date you finished reading it. 
        Feel free to edit or delete any book from your completed list.</p>
    
    <p class="lead">Books have no rating by default. It's up to you to add one!</p>


    <div id="review_page_table">
        {% include 'reading/partials/review_page_table.html' %}
    </div>

</div>
  
  
{% endblock content %}




