{% if book_list %}

    {% comment %} <form class="sortable" hx-trigger="end" hx-post="/sort"> {% endcomment %}

    {% for book in book_list %}

    <div class="card bg-light mb-2" style="width: 100%;">
        <div class="card-body">
            <div class="row">
                <!-- Text Section (Book Title and Author) -->
                <div class="col-10">
                    <p class="h3"><b>{{book.title}}</b></p>
                    <p class="lead">{{book.author}}</p>
                </div>
                <!-- Button Section (Delete Button) -->
                <div class="col-2 text-end">
                    <div class="row">
                        <h4><b>#1</b></h4>
                    </div>
                    <div class="row">
                        <button hx-delete="{% url 'delete_book' book.pk %}" hx-target="#book_list" hx-confirm="Are you sure you wish to delete this book?"
                            type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endfor %}

    {% comment %} </form> {% endcomment %}

{% else %}

    <div class="card bg-light mb-3" style="max-width: 70%;">
        <h3>Your book list is empty.</h3>
    </div>

{% endif %}