
{% block content %}

    {% if not book_list  %}

    <div class="d-flex justify-content-center align-items-center">
      <p class="lead">Add some books to your list first.</p>
    </div>

    {% else %}

    <div class="d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        {% if top_book.cover  %}
        <div style="display: flex; justify-content: center;">
            <img class="bookcover mb-2" src="{{ top_book.cover.url}}" alt="{{ top_book.title }}" style="width: 60%;">
        </div>
        {% else %}
        <h3>No book cover has been uploaded yet.</h3>
        {% endif %}
          <div class="card-body">
            <p class="h3"><b>{{top_book.title}}</b></p>
            <p class="lead">{{top_book.author}}</p>
            <div style="display: flex; justify-content: center;">
              <button hx-confirm="Are you sure you wish to mark this book as completed?" hx-post="{% url "top_book_completed" top_book.pk %}" hx-target="#reading_page_row" class="btn btn-success">I finished this book</a>
            </div>
          </div>
        </div>
    </div>

    {% endif %}

{% endblock content %}
