<div class="col-7">
    <h1 class="m-4">My Reading List</h1>

    <div>
        {% include "reading/partials/search.html" %}
    </div>
    
    <div class="d-flex justify-content-center align-items-center">
        <p>Drag and drop the books in your list to re-order them.</p>
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <div id="book_list" style="width: 80%;">
            {% include "reading/partials/book_list_partial.html" %}
        </div>
    </div>

    
</div>
<div id="right_page" class="col-5" style="height: 700px;">

    {% include "reading/partials/right_page_content.html" %}

</div>