
<h2 class="m-4 text-center">What do you want to read?</h2>

<div class="d-flex justify-content-center align-items-center">
    <form action="{% url 'reading_page' %}" method="post" class="d-flex justify-content-center align-items-center" style="width: 90%;">
        {% csrf_token %}
        <input type="text" id="book-title" name="book-title" placeholder="title" class="form-control mr-2" required style="max-width: 250px; margin: 2px;">
        <input type="text" id="book-author" name="book-author" placeholder="author" class="form-control mr-2" required style="max-width: 250px; margin: 2px;">
        <button hx-post="{% url 'add_book' %}" hx-target="#reading_page_row" type="submit" class="btn btn-success" style="margin: 2px;">
            Add Book
        </button>
    </form>
</div>

<h1 class="m-4">Currently Reading...</h1>

{% include "reading/partials/currently_reading.html" %}