
<h2 class="m-4 text-center">What do you want to read?</h2>

<div class="d-flex justify-content-center align-items-center">
    <form action="{% url 'reading_page' %}" method="post" class="d-flex justify-content-center align-items-center" style="width: 90%;">
        {% csrf_token %}
        <input type="text" id="book-title" name="book-title" placeholder="title" class="form-control mr-2" required style="max-width: 250px; margin: 2px;">
        <input type="text" id="book-author" name="book-author" placeholder="author" class="form-control mr-2" required style="max-width: 250px; margin: 2px;">
        <button hx-post="{% url 'add_book' %}" hx-target="#reading_page_row" type="submit" class="btn btn-success" style="margin: 2px;">
            Add Book
        </button>
    </form>
</div>

    <div class="row">

        <div class="col">

        <h2 class="m-4">Currently Reading:</h2>

        {% include "reading/partials/currently_reading.html" %}

        </div>

        <div class="col">

        <h2 class="m-4">Last Book finished:</h2>


        <div style="width: 80%; margin: 0 auto;">
            {% if finished_book_list %}

            <div class="card bg-light mb-2" style="width: 100%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="lead"><b>{{finished_book_list.0.title}}</b></p>
                            <p class="lead">{{finished_book_list.0.author}}</p>
                            {% if finished_book_list.0.rating %}
                                <p class="lead"><i>"{{finished_book_list.0.rating}}"</i></p>
                            {% else %}
                                <p class="lead">No rating has been added yet.</p>
                            {% endif %}
                            <p class="lead">{{finished_book_list.0.finished_date|date:"d M Y"}}</p>
                        </div>
                        <div class="col">
                            {% if finished_book_list.0.cover %}
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="bookcover mb-2" src="{{ finished_book_list.0.cover.url}}" alt="{{ finished_book_list.0.title }}" style="width: 90%;">
                            </div>
                            {% else %}
                            <p class="lead">No book cover has been uploaded yet.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {% else %}
            <div class="alert alert-dismissible alert-info" style="text-align: center; border-radius: 0;">
                You haven't finished any books yet.
            </div>
            {% endif %}
        </div>

    </div>
</div>
  
  