<div class="d-flex justify-content-center align-items-center">
    <form action="{% url 'reading_page' %}" method="post" class="d-flex align-items-center" style="width: 30%;">
        {% csrf_token %}
        <p class="lead mb-0" style="margin-right: 3%;">Search:</p>
        <input type="text"
                hx-post="{% url "book_search" %}"
                hx-target="#book_list"
                hx-trigger="keyup changed"
                class="form-control"
                name="search"
                placeholder="Enter title or author">
        
    </form>
</div>