
{% load static %}

<head>

    {% comment %} HTMX CDN {% endcomment %}
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
     crossorigin="anonymous"></script>

    {% comment %} Bootstrap CSS CDN {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {% comment %} Bootstrap JS CDN {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
       integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    {% comment %} sortable.js CDN {% endcomment %}
    <script src=" https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js "></script>

    {% comment %} load Bootstrap theme {% endcomment %}
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">

    <style>
        h1, h2 {
            text-align: center;
        }

        .btn, .badge {
            border-radius: 0;
        }

        .wide-column {
          width: 22%;  /* These columns take up more space */
      }
      
      .button-column {
          width: 11%;  /* This column is smaller and contains the buttons */
      }

    </style>

    <script>
      htmx.onLoad(function(content) {
        console.log("HTMX content loaded:", content);
    
        // Delay initialization slightly to ensure the content is inserted into the DOM
        setTimeout(function() {
            var sortables = document.querySelectorAll(".sortable");
            console.log("Found sortables:", sortables);
    
            sortables.forEach(function(sortable) {
                new Sortable(sortable, {
                    animation: 150,
                    ghostClass: 'blue-background-class',
                });
                console.log("Sortable initialized on", sortable);
            });
        }, 25);  // Delay in milliseconds (adjust as needed)
    });
    </script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>


    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid" style="width: 90%;">
          <a class="navbar-brand mx-3" href="{% url "reading_page" %}" style="color: white;">My Reading List</a>
          <button class="navbar-toggler" type="button" style="background-color: white;" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item mx-3">
                <a class="nav-link active" aria-current="page" href="{% url "reading_page" %}" style="color: white;">Books</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link active" aria-current="page" href="{% url "review_page" %}" style="color: white;">Reviews</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link active" aria-current="page" href="{% url "about_page" %}" style="color: white;">About</a>
              </li>
            </ul>
            {% if user.is_authenticated %}
                <div class="ms-2 dropdown text-end">
                    <a href="#" class="d-block text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                        hello, {{ user.username }}!
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a></li>
                        <li>
                            <form action="{% url 'account_logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item logout-button" style="background: none; border: none; padding: 0; text-align: center; cursor: pointer;">
                                    Log out
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
              {% else %}
                <div class="ms-2" class="auth-buttons">
                    <a href="{% url 'account_login' %}" class="btn btn-info me-2 border border-dark">Log In</a>
                    <a href="{% url 'account_signup' %}" class="btn btn-success border border-dark">Sign Up</a>
                </div>
              {% endif %}
          </div>
        </div>
      </nav>

    <div class="container-fluid mt-4" style="width: 95%;">

      {% block content %}
      
      {% endblock content %}

    </div>
</body>